@mixin icon-primary {
  fill: var(--primary-base-color);

  &:active {
    fill: var(--primary-dark-color);
  }
}
@mixin button-disabled {
  pointer-events: none;
  opacity: 0.25;
}

@mixin button-visible {
  opacity: 1;
  height: 25px;
  width: 25px;
  pointer-events: all;
  overflow: visible;
  cursor: pointer;
}
@mixin button-invisible {
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}
