@mixin fontStyle($size, $Weight, $lineHeight: 1) {
  font-style: normal;
  font-weight: $Weight;
  font-size: $size;
  line-height: $lineHeight;
}
@mixin pionter() {
  user-select: none;
  cursor: pointer;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

$z-indexes: ("overlay", "sidebar", "navbar");

@function z-index($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name))+1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
@mixin font-source($size: false, $colour: false, $weight: false, $lh: false) {
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}
@mixin position-absolute(
  $top: false,
  $right: false,
  $bot: false,
  $left: false
) {
  position: absolute;
  overflow-y: auto;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bot {
    bottom: $bot;
  }
  @if $left {
    left: $left;
  }
}

a {
  text-decoration: none;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}
