@import "../../style/abstract/abstract";
.CartItem {
  -height: 19rem;
  position: relative;
  gap: 1rem;
  display: grid;
  justify-items: stretch;
  justify-content: center;
  grid-template-columns: 1fr 0.2fr 0.7fr;
  margin-bottom: 4rem;

  &:hover {
    filter: drop-shadow(4px 4px 5px $default-primary-light-color);
    background-color: white;
  }

  &-Description {
    padding-inline: 0.5rem;
    @include flex-center-column();
    align-items: flex-start;
    justify-content: space-around;
  }
  &-Card {
    h1 {
      @include font-source(1.6rem, $black, 300, 2.5rem);
      clear: both;
      overflow: hidden;
      white-space: nowrap;
    }
    h3 {
      @include font-source(1rem, $black, 300, 2.5rem);
      clear: both;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &-Price {
    h3 {
      @include font-source(2.4rem, $black, 500, 1.8rem);
      margin-block: 0.8rem;
    }
  }

  &-Attributes {
    width: 100%;
  }
  &-SelectedAttributes {
    margin-top: 0.8rem;
    h1 {
      @include font-source(1.4rem, $black, 400, 1.6rem);
    }
  }
  &-SelectedSwatch {
    height: 2rem;
    width: 2rem;
    margin-block: 0.5rem;
  }
  &-SelectedText {
    background-color: $black;
    width: max-content;
    padding: 0 1.2rem;
    margin-block: 0.5rem;
    & span {
      @include font-source(1.4rem, white, 400, 2.4rem);
    }
  }

  & img {
    justify-self: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0 0;
  }
}

.CartPageItem {
  @extend .CartItem;
  grid-template-columns: 1fr 0.7fr 0.7fr;
  height: 30rem;
  width: 100%;
  &-Description {
    @extend .CartItem-Description;
  }
  &-Card {
    @extend .CartItem-Card;
    h1 {
      margin: 0;
      @include font-source(3rem, $black, 600, 2.7rem);
    }
    h3 {
      margin: 0;
      @include font-source(3rem, $black, 400, 2.7rem);
    }
  }
  &-Price {
    h3 {
      @include font-source(2.4rem, $black, 700, 2.4rem);
    }
  }
  &-Attributes {
    @extend .CartItem-Attributes;
  }

  &-SelectedAttributes {
    h1 {
      margin-bottom: 0.7rem;
      @include font-source(1.8rem, $black, 700, 1.8rem);
    }
    margin-top: 1.6rem;
    @extend .CartItem-SelectedAttributes;
  }
  &-SelectedSwatch {
    height: 3.6rem;
    width: 3.6rem;
  }
  &-SelectedText {
    @extend .CartItem-SelectedText;
    height: 4.5rem;
    padding: 0 2.25rem;
    & span {
      @include font-source(1.8rem, white, 400, 4.5rem);
    }
  }
  & img {
    justify-self: center;
    align-self: center;
    width: 20rem;
    aspect-ratio: 2/3;
    object-fit: contain;
    object-position: 0 0;
  }

  & .CartCount {
    & p {
      padding: 1.8rem 1.4rem;
      @include font-source(2.4rem, $black, 500, 1rem);
      margin-left: auto;

      &:nth-child(odd) {
        font-size: 5rem;
      }
    }
  }
}
