@import "../../style/abstract/abstract";
.SideBar {
  height: 100%;
  min-height: 100vh;
  max-width: 35vh;
  display: grid;
  grid-template-columns: 30% 70%;
  overflow: hidden;
  position: absolute;
  top: 8rem;
  left: 0;

  animation: containerTransitionEnter 0.5s;
  @include z-index(side-bar);
  &_ArrowContainer {
    height: 100%;
    background-color: $default-primary-greener-color;
    width: 8rem;
    position: relative;
    & button {
      @include pionter();
      padding: 0.6rem 1rem 1rem 1rem;
      margin: 1rem;
      border: 1px solid transparent;
      background-color: rgba(0, 0, 0, 0.1);
      @include font-source(5rem, white, 700, 3rem);
      &:hover,
      &:focus {
        color: white;
        background-color: rgba(0, 0, 0, 0.13);
        outline: 1px solid $default-primary-base-color;
      }
    }
  }
  &-OpenButton {
    animation: TransitionEnter 0.5s;
    &--Disabled {
      animation: TransitionExit 0.6s;
      display: none;
    }
  }
  &-CloseButton {
    animation: TransitionEnter 0.5s;
    &--Disabled {
      animation: TransitionExit 0.6s;
      display: none;
    }
  }
}

.Drawer {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: 2rem;
  background-color: $default-secondary-dark-color;
  border-right: 1px solid $default-primary-base-color;
  animation: TransitionEnter 0.5s;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  &.exit {
    animation: TransitionExit 0.6s;
  }

  & a {
    align-self: center;
    margin-top: 2rem;
    padding: 1.2rem 3rem;
    background: $default-primary-base-color;
    @include font-source(1.6rem, white, 600, 1.6rem);
    border: solid 1px $default-primary-base-color;
    @include pionter();
  }
}
.FiltersWrapper {
  & h2 {
    @include font-source(1.8rem, $black, 600, 2rem);
  }
  &-Att {
    @include flex-center();
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: flex-start;
    margin-top: 0.8rem;
  }

  &-SelectedSwatch {
    @include pionter();
    width: 1.9rem;
    height: 1.9rem;
    padding: 0.1rem;
    border: 2px solid $black;
    border-radius: 0.5rem;
    opacity: 1;
  }
  &-Swatch {
    @include pionter();
    border: 1px solid $default-drop-shadow;
    width: 1.9rem;
    height: 1.9rem;
    opacity: 0.7;
  }
  &-SelectedText {
    @include pionter();
    @include font-source(1.2rem, white, 500, 2rem);
    border: 0.1rem solid $black;
    padding-inline: 1rem;
    background-color: $black;
  }
  &-Text {
    @include pionter();
    @include font-source(1.2rem, $black, 500, 2rem);
    border: 0.1rem solid $black;
    background-color: white;
    padding-inline: 1rem;
  }
}

@keyframes containerTransitionEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TransitionEnter {
  0% {
    opacity: 0;
    left: -2vw;
  }
  100% {
    opacity: 1;
    left: 0vw;
  }
}

@keyframes containerTransitionExit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes TransitionExit {
  0% {
    opacity: 1;
    left: 0vw;
  }
  100% {
    opacity: 0;
    left: -2vw;
  }
}
