@import "../../style/abstract/abstract";
.Carousel {
  width: 20rem;
  margin-left: auto;
  position: relative;
  &-PrevButton {
    @include carousel-button("prev");
    &:hover,
    &:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &-NextButton {
    @include carousel-button("next");
    &:hover,
    &:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      outline: 1px solid black;
    }
  }
  &-Img {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;

    &--Hidden {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: 200ms opacity ease-in-out;
      transition-delay: 100ms;
    }
  }
  &-List {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 20rem;
    margin-left: auto;
    & * {
      width: 20rem;
      margin-left: auto;
    }
  }
}
