@import "../../style/abstract/abstract";

.CategoryList {
  margin-left: 11rem;
  @include flex-center();

  &-Item {
    @include font-source(1.6rem, $black, 400, 6rem);
    @include flex-center-column();
    padding-inline: 1.6rem;
    & a {
      @include pionter();
    }
    &--chosen {
      color: $default-primary-base-color;
      font-weight: 600;
    }
  }
  &-Line {
    width: calc(100% + 1.6rem);
    height: 2px;
    background-color: $default-primary-base-color;
    &--hide {
      display: none;
    }
  }
}
