@import "../../style/abstract/abstract";
.NavBar {
  @include z-index(navigation);
  background-color: white;
  min-height: 8rem;
  position: relative;
  max-width: 100rem;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  @include flex-center-vert();
  &-Logo {
    @include position-absolute(50%, false, false, 50%);
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    img {
      display: block;
    }
  }
}
