@import "../../style/abstract/abstract";
.NavBar {
  min-height: 8rem;
  position: relative;
  max-width: 100rem;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  @include flex-center-vert();
  &-Logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    img {
      display: block;
    }
  }
}
