@import "../../style/abstract/abstract";

// Styles

html {
  font-size: $font-standard-size;
  font-family: $main-fonts;
  font-weight: normal;
  margin: 0;
  position: relative;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  font-family: $main-fonts;
  font-weight: bold;
}
.display {
  display: block !important;
}

a {
  color: inherit;
}

ul,
p {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
}
